<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
       http://www.springframework.org/schema/beans/spring-beans.xsd  
       http://www.springframework.org/schema/context  
       http://www.springframework.org/schema/context/spring-context.xsd  
       http://www.springframework.org/schema/mvc  
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">


	<!-- 配置扫描的包 -->
	<context:component-scan base-package="com.sf.*"></context:component-scan>

	<!-- 这个是注解驱动 -->
	<mvc:annotation-driven />

	<mvc:default-servlet-handler />

    <!--&lt;!&ndash;避免IE执行AJAX时，返回JSON出现下载文件 &ndash;&gt;
    <bean id="mappingJacksonHttpMessageConverter"
          class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
        <property name="supportedMediaTypes">
            <list>
                <value>text/html;charset=UTF-8</value>
            </list>
        </property>
    </bean>
    &lt;!&ndash; 启动SpringMVC的注解功能，完成请求和注解POJO的映射 &ndash;&gt;
    <bean
            class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
        <property name="messageConverters">
            <list>
                <ref bean="mappingJacksonHttpMessageConverter" /> &lt;!&ndash; JSON转换器 &ndash;&gt;
            </list>
        </property>
    </bean>-->


    <!-- 配置视图解析器 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- <property name=""></property> 暂时不需要配置 -->
		<property name="redirectContextRelative" value="true"></property>
		<property name="prefix" value="/WEB-INF/web-jsp/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>

	<mvc:interceptors>
		<!-- 国际化操作拦截器 如果采用基于（请求/Session/Cookie）则必需配置 --> 
        <bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor" />  
        <!-- 如果不定义 mvc:mapping path 将拦截所有的URL请求 -->
           	<mvc:interceptor>
           				<!-- 扫描所有 -->
           			 <mvc:mapping path="/**" />
           			 <!-- 不扫描 -->
           			   <mvc:exclude-mapping path="/index.sf"/><!-- 首页 -->
           			 <mvc:exclude-mapping path="/one"/><!-- 首页 -->
           			 <mvc:exclude-mapping path="/logoone.sf"/><!-- 首页 -->
           			 <mvc:exclude-mapping path="/login.sf"/><!-- 登录 -->
           			 <mvc:exclude-mapping path="/loginservice.sf"/><!-- 登录请求 -->
           			 <mvc:exclude-mapping path="/zhuce.sf"/><!-- 注册 -->
           			 <mvc:exclude-mapping path="/loginservice.sf"/><!-- 登录 -->
           			 <mvc:exclude-mapping path="/messageuser.sf"/><!-- 注册 -->
           			 <mvc:exclude-mapping path="/register.sf"/><!-- 注册请求 -->
           			  <mvc:exclude-mapping path="/testshabi.sf"/><!-- 详情 -->
           			  <mvc:exclude-mapping path="/ajaxtijiao1.sf"/><!-- 分类ajax --> 
           			 <mvc:exclude-mapping path="/Shopping.sf"/><!-- 商品 -->
           			 <mvc:exclude-mapping path="/gridspay.sf"/><!-- 商品详情 -->
           			  <mvc:exclude-mapping path="/video.sf"/><!-- 视频播放 -->
           			 <mvc:exclude-mapping path="/messageuser.sf"/><!-- 视频播放 -->
           			  <mvc:exclude-mapping path="/ajaxTuiJian"/><!-- 论坛 -->
           			  <mvc:exclude-mapping path="/forum.sf"/>
           			  <mvc:exclude-mapping path="/loginforum.sf"/>
           			  <mvc:exclude-mapping path="/forumReply.sf"/>
           			  <mvc:exclude-mapping path="/Forum"/>
           			 
           			  <!-- 静态文件 -->
           			
           			 
        			<bean class="com.sf.lanjieqi.AuthInterceptor"></bean>
           	</mvc:interceptor>
	</mvc:interceptors>

	<!-- 文件上传 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver" >
		<!--   		 p:defaultEncoding="UTF-8"
                           p:maxUploadSize="1073741824"  最大1Gb
                        p:uploadTempDir="fileUpload/temp"   -->
		<property name="defaultEncoding" value="utf-8"></property>
		<property name="maxUploadSize" value="1073741824"></property>
        <!-- 内存中的最大值 -->
        <property name="maxInMemorySize" value="40960" />
    </bean>

</beans>